/*GENERAL*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #555555;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

a {
    text-decoration: none;
}
